<article>
  <a href="{{url}}">
    <picture>
      <img src="{{feature_image}}" title="{{title}}" alt="{{title}}">
    </picture>
  </a>
  <div>
    <a href="{{url}}">
      <p>
        {{title}}
      </p>
    </a>
    <span class="comentary-publish">
      <i class="far fa-calendar-check"></i>
      <time class="txt-tooldata-secondary" time="{{date published_at format="YYYY-MM-DDTHH:mm:ss.SS\Z"}}">
        {{date published_at format="DD MMM YYYY"}}
      </time>
    </span>
  </div>
</article>