{{!< default}}

<section class="" id="tooldata-banner">
  <div class="container">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">

    <div class="banner-content">
      <div class="banner-text">
        <h1>
          <span>Entorno</span>
          Digital
        </h1>
        <p>
          Monitoreamos, recolectamos, analizamos y canalizamos información
          del entorno digital de una marca, producto o temática.
        </p>
        <a href="post.html">Ver más</a>
      </div>
    </div>
        </div>
        <div class="carousel-item">

    <div class="banner-content">
      <div class="banner-text">
        <h1>
          <span>Entorno</span>
          Digital
        </h1>
        <p>
          Monitoreamos, recolectamos, analizamos y canalizamos información
          del entorno digital de una marca, producto o temática.
        </p>
        <a href="post.html">Ver más</a>
      </div>
    </div>
        </div>
        <div class="carousel-item">

    <div class="banner-content">
      <div class="banner-text">
        <h1>
          <span>Entorno</span>
          Digital
        </h1>
        <p>
          Monitoreamos, recolectamos, analizamos y canalizamos información
          del entorno digital de una marca, producto o temática.
        </p>
        <a href="post.html">Ver más</a>
      </div>
    </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class=" bg-white">
  <!-- Área de Servcios -->
  <section class="d-flex flex-column justify-content-center align-items-center" id="tooldata-services">
    <h3 class="tooldata-title txt-tooldata-secondary">Nuestros Servicios</h3>
    <div class="col-12 col-md-10">
      <div class="row">
        <div class="col-12 col-md-4 services-items">
          <i class="fa fa-desktop services-icon txt-tooldata-primary"></i>
          <p class="services-title">
            Social Media Listening
          </p>
          <p class="service-text txt-tooldata-secondary">
            Descubre qué, quiénes y cuanto se comenta tu marca, producto, competencia
            o cualquier temática en redes sociales.
          </p>
        </div>
        <div class="col-12 col-md-4 services-items">
          <i class="fa fa-tablet-alt services-icon txt-tooldata-primary"></i>
          <p class="services-title">
            Social Media Analytics
          </p>
          <p class="service-text txt-tooldata-secondary">
            Mide el impacto de perfiles en Facebook, Instagram y Twitter. Descubre cuáles
            son los mensajes con mayor interacción.
          </p>
        </div>
        <div class="col-12 col-md-4 services-items">
          <i class="fa fa-mobile-alt services-icon txt-tooldata-primary"></i>
          <p class="services-title">
            Dashboard Report
          </p>
          <p class="service-text txt-tooldata-secondary">
            Configura un Dashboard personalizado y adaptado a tus necesidades al que puedes
            acceder a través de la Web.
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col-12 col-md-4 services-items">
          <i class="fa fa-laptop services-icon txt-tooldata-primary"></i>
          <p class="services-title">
            Informes Digitales
          </p>
          <p class="service-text txt-tooldata-secondary">
            Asesórate por un equipo experto para proponer y elaborar de acuerdo a tus necesidades
            en social media.
          </p>
        </div>
        <div class="col-12 col-md-4 services-items">
          <i class="fa fa-th services-icon txt-tooldata-primary"></i>
          <p class="services-title">
            Consultorías Especializadas
          </p>
          <p class="service-text txt-tooldata-secondary">
            Genera contenido para las redes sociales, desde la estrategía, plan, producción y
            distribución de publicaciones.
          </p>
        </div>
        <div class="col-12 col-md-4 services-items">
          <i class="far fa-lightbulb services-icon txt-tooldata-primary"></i>
          <p class="services-title">
            Charlas y Formación
          </p>
          <p class="service-text txt-tooldata-secondary">
            Gracias a nuestra experiencia contamos con conocimientos en Big Data, Inteligencia
            Artificial y Social Media.
          </p>
        </div>
      </div>
    </div>
  </section>
</section><!-- Fin Área de Servcios -->
<section class=""><!-- Área de Clientes -->
  <div class="row justify-content-center">
    <div class="col-12 col-lg-10">
      <section class="" id="tooldata-clients">
        <div class="client-item goFront d-flex justify-content-center align-items-center">
          <img src="{{asset "logos/addmedia.png"}}" alt="Add Media">
        </div>
        <div class="client-item goFront d-flex justify-content-center align-items-center">
          <img src="{{asset "logos/cadena-ser.png"}}" alt="Cadena Ser">
        </div>
        <div class="client-item goFront d-flex justify-content-center align-items-center">
          <img src="{{asset "logos/fcb_fire.png"}}" alt="FCB & Fire">
        </div>
        <div class="client-item goFront d-flex justify-content-center align-items-center">
          <img src="{{asset "logos/magno.png"}}" alt="Add Media">
        </div>
        <div class="client-item goFront d-flex justify-content-center align-items-center">
          <img src="{{asset "logos/mindshare.png"}}" alt="Add Media">
        </div>
        <div class="client-item goFront d-flex justify-content-center align-items-center">
          <img src="{{asset "logos/mira.png"}}" alt="Add Media">
        </div>
        <div class="client-item goFront d-flex justify-content-center align-items-center">
          <img src="{{asset "logos/premiumplaza.png"}}" alt="Add Media">
        </div>
      </section>
    </div>
  </div>
</section><!-- Fin Área de Clientes -->

<section class=" bg-white">
  <!-- Área de Equipo -->
  <section class="d-flex flex-column justify-content-center align-items-center" id="tooldata-about">
    <h3 class="tooldata-title txt-tooldata-secondary">¿Quiénes Somos?</h3>
    <h5 class="txt-tooldata-secondary">
      Somos un equipo de profesionales de élite, sólido y dedicado, comprometidos con reunir
      conocimientos para dar soluciones a los avances de la tecnología digital.
    </h5>
    <div class="col-12 col-md-12 col-lg-8">
      <div class="row d-flex justify-content-center align-items-center">

        <div class="col-12 col-md-3 col-lg-3">
          <!-- Perfil -->
          <div class="profile-item d-flex flex-column justify-content-center align-items-center">
            <img src="{{asset "jorge.png"}}" />
            <span class="name txt-tooldata-primary">Jorge Gálvez</span>
            <span class="position txt-tooldata-secondary">
              Director Ejecutivo
            </span>
            <span class="place txt-tooldata-secondary">
              Valparaíso, Chile
            </span>
            <div class="d-flex justify-content-between icons-social">
              <a target="_blank" href="https://www.linkedin.com/in/jorgegalvezgajardo/" class="txt-tooldata-secondary">
                <i class="fab fa-linkedin-in"></i>
              </a>
              <a  target="_blank" href="https://twitter.com/Jorge_Galvez" class="txt-tooldata-secondary">
                <i class="fab fa-twitter"></i>
              </a>
              <a target="_blank" href="https://www.instagram.com/jorgaco/" class="txt-tooldata-secondary">
                <i class="fab fa-instagram"></i>
              </a>
            </div>
          </div>
        </div><!-- Fin Perfil -->

        <div class="col-12 col-md-3 col-lg-3">
          <!-- Perfil -->
          <div class="profile-item d-flex flex-column justify-content-center align-items-center">
            <img src="{{asset "Alejandra_Garzon2.jpg"}}" />
            <span class="name txt-tooldata-primary">Alejandra Garzón</span>
            <span class="position txt-tooldata-secondary">
              Director Comercial
            </span>
            <span class="place txt-tooldata-secondary">
              Bogotá, Colombia
            </span>
            <div class="d-flex justify-content-between icons-social">
              <a target="_blank" href="https://www.linkedin.com/in/alejandragarzon/" class="txt-tooldata-secondary">
                <i class="fab fa-linkedin-in"></i>
              </a>
              <a target="_blank" href="https://twitter.com/Alejiitago" class="txt-tooldata-secondary">
                <i class="fab fa-twitter"></i>
              </a>
            </div>
          </div>
        </div><!-- Fin Perfil -->

        <div class="col-12 col-md-3 col-lg-3">
          <!-- Perfil -->
          <div class="profile-item d-flex flex-column justify-content-center align-items-center">
            <img src="{{asset "jhon_doe.png"}}" />
            <span class="name txt-tooldata-primary">Jaro Marval</span>
            <span class="position txt-tooldata-secondary">
              Desarrollador Full Stack
            </span>
            <span class="place txt-tooldata-secondary">
              Lima, Perú
            </span>
            <div class="d-flex justify-content-between icons-social">
              <a target="_blank" href="https://www.linkedin.com/in/jaro-marval/" class="txt-tooldata-secondary">
                <i class="fab fa-linkedin-in"></i>
              </a>
              <a target="_blank" href="https://twitter.com/jampgold" class="txt-tooldata-secondary">
                <i class="fab fa-twitter"></i>
              </a>
              <a target="_blank" href="https://github.com/Jamp" class="txt-tooldata-secondary">
                <i class="fab fa-github"></i>
              </a>
            </div>
          </div>
        </div><!-- Fin Perfil -->



        <div class="col-12 col-md-3 col-lg-3">
          <!-- Perfil -->
          <div class="profile-item d-flex flex-column justify-content-center align-items-center">
            <img src="{{asset "juand.png"}}" />
            <span class="name txt-tooldata-primary">Juan Diego Romero</span>
            <span class="position txt-tooldata-secondary">
              Desarrollador Full Stack
            </span>
            <span class="place txt-tooldata-secondary">
              Punto Fijo, Venezuela
            </span>
            <div class="d-flex justify-content-between icons-social">
              <a target="_blank" href="https://www.linkedin.com/in/juan-diego-romer0-bocourt/" class="txt-tooldata-secondary">
                <i class="fab fa-linkedin-in"></i>
              </a>
              <a target="_blank" href="https://twitter.com/JuanDieg0R0mer0" class="txt-tooldata-secondary">
                <i class="fab fa-twitter"></i>
              </a>
              <a target="_blank" href="https://github.com/Juan571" class="txt-tooldata-secondary">
                <i class="fab fa-github"></i>
              </a>
            </div>
          </div>
        </div><!-- Fin Perfil -->

        <div class="col-12 col-md-3 col-lg-3">
          <!-- Perfil -->
          <div class="profile-item d-flex flex-column justify-content-center align-items-center">
            <img src="{{asset "Martha_Ortegon.png"}}" />
            <span class="name txt-tooldata-primary">Martha Ortegón</span>
            <span class="position txt-tooldata-secondary">
              Analista de Redes Sociales
            </span>
            <span class="place txt-tooldata-secondary">
              Bogotá, Colombia
            </span>
            <div class="d-flex justify-content-between icons-social">
              <a target="_blank" href=" https://www.linkedin.com/in/martha-o-c-9687352b/" class="txt-tooldata-secondary">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </div>
          </div>
        </div><!-- Fin Perfil -->

        <div class="col-12 col-md-3 col-lg-3">
          <!-- Perfil -->
          <div class="profile-item d-flex flex-column justify-content-center align-items-center">
            <img src="{{asset "jhon_doe.png"}}" />
            <span class="name txt-tooldata-primary">Cristhian Morillo</span>
            <span class="position txt-tooldata-secondary">
              Ventas Perú
            </span>
            <span class="place txt-tooldata-secondary">
              Lima, Perú
            </span>
            <div class="d-flex justify-content-between icons-social">
              <a target="_blank" href="https://www.linkedin.com/in/cristhian-morillo-s%C3%A1nquiz-748778179/" class="txt-tooldata-secondary">
                <i class="fab fa-linkedin-in"></i>
              </a>
              <a target="_blank" href="https://www.instagram.com/morillocrist/" class="txt-tooldata-secondary">
                <i class="fab fa-instagram"></i>
              </a>
            </div>
          </div>
        </div><!-- Fin Perfil -->
        <!-- Perfil -->
        <div class="col-12 col-md-3 col-lg-2">
          <div class="profile-item d-flex flex-column justify-content-center align-items-center">
            <img src="{{asset "jhon_doe.png"}}" />
            <span class="name txt-tooldata-primary">Enrique Valerio</span>
            <span class="position txt-tooldata-secondary">
              Diseñador
            </span>
            <span class="place txt-tooldata-secondary">
              Punto Fijo, Venezuela
            </span>
            <div class="d-flex justify-content-between icons-social">
              <a href="#" class="txt-tooldata-secondary">
                <i class="fab fa-linkedin-in"></i>
              </a>
              <a href="#" class="txt-tooldata-secondary">
                <i class="fab fa-twitter"></i>
              </a>
            </div>
          </div>
        </div><!-- Fin Perfil -->


      </div>
    </div>
  </section>

  <section class="d-flex flex-column justify-content-center align-items-center" id="tooldata-about">
    <h3 class="tooldata-title txt-tooldata-secondary">Partners</h3>
    <div class="col-12 col-md-12 col-lg-10">
      <div class="row d-flex justify-content-center align-items-center">

        <div class="col-12 col-md-3 col-lg-2"><!-- Perfil -->
          <div class="profile-item d-flex flex-column justify-content-center align-items-center">
            <img src="{{asset "carlos.png"}}" />
            <span class="name txt-tooldata-primary">Carlos Lluberes</span>
            <!--span class="position txt-tooldata-secondary">
              Consultor
            </span-->
            <span class="place txt-tooldata-secondary">
              República Dominicana
            </span>
            <div class="d-flex justify-content-between icons-social">
              <a target="_blank" href="https://www.linkedin.com/in/carlosllub/" class="txt-tooldata-secondary">
                <i class="fab fa-linkedin-in"></i>
              </a>
              <a target="_blank" href="https://twitter.com/carlosllub" class="txt-tooldata-secondary">
                <i class="fab fa-twitter"></i>
              </a>
            </div>
          </div>
        </div><!-- Fin Perfil -->

        <div class="col-12 col-md-3 col-lg-2"><!-- Perfil -->
          <div class="profile-item d-flex flex-column justify-content-center align-items-center">
            <img src="{{asset "cristian.png"}}" />
            <span class="name txt-tooldata-primary">Cristián Huepe</span>
            <!--span class="position txt-tooldata-secondary">
              Partner
            </span-->
            <span class="place txt-tooldata-secondary">
              E.E.U.U
            </span>
            <div class="d-flex justify-content-between icons-social">
              <a target="_blank" href="https://www.linkedin.com/in/cristianhuepe/" class="txt-tooldata-secondary">
                <i class="fab fa-linkedin-in"></i>
              </a>
              <a target="_blank" href="https://twitter.com/Cristian_Huepe" class="txt-tooldata-secondary">
                <i class="fab fa-twitter"></i>
              </a>
            </div>
          </div>
        </div><!-- Fin Perfil -->

        <!-- Perfil -->
        <!--div class="col-12 col-md-3 col-lg-2">
          <div class="profile-item d-flex flex-column justify-content-center align-items-center">
            <img src="{{asset "jhon_doe.png"}}" />
            <span class="name txt-tooldata-primary">Juan Carlos Vásquez</span>
            <span class="position txt-tooldata-secondary">
              Partner
            </span>
            <span class="place txt-tooldata-secondary">
              Perú
            </span>
            <div class="d-flex justify-content-between icons-social">
              <a href="#" class="txt-tooldata-secondary">
                <i class="fab fa-linkedin-in"></i>
              </a>
              <a href="#" class="txt-tooldata-secondary">
                <i class="fab fa-twitter"></i>
              </a>
            </div>
          </div>
        </div><!-- Fin Perfil -->

        <div class="col-12 col-md-3 col-lg-2"><!-- Perfil -->
          <div class="profile-item d-flex flex-column justify-content-center align-items-center">
            <img src="{{asset "Juan_Delgado1.png"}}" />
            <span class="name txt-tooldata-primary">Juan Sebastián Delgado</span>
            <!--span class="position txt-tooldata-secondary">
              Partner
            </span-->
            <span class="place txt-tooldata-secondary">
              Colombia
            </span>
            <div class="d-flex justify-content-between icons-social">
              <a target="_blank" href="https://www.linkedin.com/in/juansedg/" class="txt-tooldata-secondary">
                <i class="fab fa-linkedin-in"></i>
              </a>
              <a target="_blank" href="https://twitter.com/juansedg" class="txt-tooldata-secondary">
                <i class="fab fa-twitter"></i>
              </a>
            </div>
          </div>
        </div><!-- Fin Perfil -->

        <div class="col-12 col-md-3 col-lg-2"><!-- Perfil -->
          <div class="profile-item d-flex flex-column justify-content-center align-items-center">
            <img src="{{asset "Francisco_Dagnino2.png"}}" />
            <span class="name txt-tooldata-primary">Francisco Dagnino</span>
            <!--span class="position txt-tooldata-secondary">
              Partner
            </span-->
            <span class="place txt-tooldata-secondary">
              Chile
            </span>
            <div class="d-flex justify-content-between icons-social">
              <a target="_blank" href="https://www.linkedin.com/in/francisco-dagnino-reyes-79b8a6149/" class="txt-tooldata-secondary">
                <i class="fab fa-linkedin-in"></i>
              </a>
              <a target="_blank" href="https://twitter.com/panchodagnino" class="txt-tooldata-secondary">
                <i class="fab fa-twitter"></i>
              </a>
            </div>
          </div>
        </div><!-- Fin Perfil -->
      </div>
    </div>
  </section>
</section><!-- Fin Área de Equipo -->

<section class="bg-light">
  <section class="d-flex flex-column justify-content-center align-items-center" id="tooldata-blog">
    <h3 class="tooldata-title txt-tooldata-secondary">Blog</h3>

    <div id="blog-sections">
      <select name="" id="">
        {{#get "tags"}}
          {{#foreach tags}}
            <option value="{{url}}">
              {{name}}
            </option>
          {{/foreach}}
        {{/get}}
      </select>
    </div>

    <div class="d-flex justify-content-between" id="blog-tags">
      {{#get "tags"}}
        {{#foreach tags}}
          <a href="{{url}}" class="blog-link goFront">
            {{name}}
          </a>
        {{/foreach}}
      {{/get}}
    </div>

    <div class="col-12 col-md-11">
      <div class="row justify-content-center">

      {{#get "posts" limit="3" order="published_at desc" include="authors"}}

        {{#foreach posts}}
          {{log post}}
          {{> "post-card"}}

        {{/foreach}}
      {{/get}}


      </div>
    </div>

    <a href="/blog/" class="blog-link goFront">
      Ver Todos
    </a>

  </section>
</section>

<section class="bg-white">
  <section class="d-flex flex-column justify-content-center align-items-center" id="tooldata-contact">
    <h3 class="tooldata-title txt-tooldata-secondary">Contáctenos</h3>

    <div class="col-12 col-md-11 col-xl-10">
      <div id="contactado" class=" alert alert-success" style="width: 100%;text-align: center; display: none;" role="alert">
        <h4 class="tooldata-title" id="msgContacted" >Gracias</h4>
      </div>
      <div class="row d-flex justify-content-center">
        <div class="col-12 col-lg-3 contact-data">
          <a href="tel:+573115320355">
            <i class="fa fa-phone"></i>
            <p>
              <span class="contact-person">Colombia/Alejandra Garzón</span>
              <span class="contact-">+57 311 5320355</span>
            </p>
          </a>
        </div>
        <div class="col-12 col-lg-3 contact-data">
          <a href="tel:+56990889033">
            <i class="fa fa-phone"></i>
            <p>
              <span class="contact-person">Chile/Jorge Gálvez</span>
              <span class="contact-">+56 9 9088 9033</span>
            </p>
          </a>
        </div>
        <div class="col-12 col-lg-3 contact-data">
          <a href="tel:+51997957452">
            <i class="fa fa-phone"></i>
            <p>
              <span class="contact-person">Perú/Cristhian Morillo</span>
              <span class="contact-">+51 997 957 452</span>
            </p>
          </a>
        </div>
        <div class="col-12 col-lg-2 contact-data">
          <a target="_blank" href="mailto:hola@tooldata.io">
            <i class="fa fa-envelope"></i>
            <p>
              <span class="contact-person">Información</span>
              <span class="contact-">hola@tooldata.io</span>
            </p>
          </a>
        </div>
      </div>
    </div>

    <div class=" formcontactFull col-12 col-md-6">

      <form  method="POST" class="d-flex flex-column align-items-center">
        <input class="formcontact" type="text" id="formnombre" placeholder="Tu Nombre">
        <input class="formcontact" type="text" id="formcorreo" placeholder="Tu Correo Electrónico">
        <input class="formcontact" type="text" id="formcell" placeholder="Tu Celular">
        <textarea rows="5" class="formcontact" id="formmsg" placeholder="Tu Mensaje"></textarea>
        <button type="button" id="btncontact">Enviar</button>
      </form>
      <div id="errorContact" class=" alert alert-danger" style="margin-top: 3%;width: 100%;display: none;" role="alert">
      	<h4 id="msgContacted" >Error...</h4>
      </div>
    </div>
  </section>
  <section id="hiddenhbs" >
    <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/shell.js"></script>
    <script>
      hbspt.forms.create({
    	portalId: "4115277",
    	formId: "8e609a39-0b02-407d-8bdd-524ffe66f3bf"
    });
    </script>
  </section>
</section>
